{% extends 'base.html' %}
{% load static %}

{% block 'extratitle' %}Gallery{% endblock 'extratitle' %}


{% block 'stylesheet' %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock 'stylesheet' %}
    

{% block 'body' %}
            
<section class="conteudo">
    <section class="w-auto relative mb-6">
        <img class="w-full" src="{% static 'img/banner.png' %}" alt="banner Alura Space">
        <h1 class="text-white text-4xl w-[350px] leading-[50px] absolute top-20 left-20"> A galeria mais completa de fotos do espaço!</h1>
    </section>
    <section class="tags">
        <p class="tags__titulo">Busque por tags:</p>
        <ul class="tags__lista">
            
            {% for category in categories %}
                <li class="tags__tag">{{ category }}</li>
            {% endfor %}
                
        </ul>
    </section>
    <section class="galeria">
        <div class="w-full">
            <h2 class="text-[#7B78E5] text-3xl leading-10 mb-6">Navegue pela galeria</h2>
            <ul class="flex flex-wrap justify-between content-between">
                {% for photo in photos %}
                <li class="card">
                    <a href="{% url 'imagem' photo.id %}">
                        
                    {% if not photo.image %}
                        <img class="card__imagem" src="{% static 'img/placeholder.png' %}" alt="Imagem não encontrada">
                    {% else %}
                        <img class="card__imagem" src="{{ photo.image.url }}" alt="{{ photo.name }}">
                    {% endif %}
                            
                    </a>
                    <span class="card__tag">{{ photo.category }}</span>
                    <div class="card__info">
                        <p class="card__titulo">{{ photo.name }}</p>
                        <div class="card__texto">
                            <p class="card__descricao">{{ photo.caption }}</p>
                            <span>
                                <img src="{% static 'img/favorite_outline.png' %}" alt="ícone de coração">
                            </span>
                        </div>
                    </div>
                </li>
                {% empty %}
                <p class="text-lg text-white">Nenhuma foto encontrada</p>
                {% endfor %}
            </ul>
        </div>
    </section>
</section>

{% endblock 'body' %}