{% extends 'base.html' %}
{% load static %}

{% block 'extratitle' %}Gallery{% endblock 'extratitle' %}


{% block 'stylesheet' %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock 'stylesheet' %}
    

{% block 'body' %}
{% include 'partials/_alerts.html' %}
{% include 'partials/_banner.html' %}
<section class="tags">
    <p class="tags__titulo">Busque por tags:</p>
    <ul class="tags__lista">
        
        {% for category in categories %}
            <li class="tags__tag">{{ category }}</li>
        {% endfor %}
            
    </ul>
</section>
<section class="galeria">
    <div class="w-full">
        <h2 class="text-[#7B78E5] text-3xl leading-10 mb-6">Navegue pela galeria</h2>
        <ul class="flex flex-wrap justify-between content-between">
            {% for photo in photos %}
                {% include 'partials/_card.html' %}
            {% empty %}
            <p class="text-lg text-white">Nenhuma foto encontrada</p>
            {% endfor %}
        </ul>
    </div>
</section>

{% endblock 'body' %}