<div class="flex justify-center mt-10">
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="flex flex-col mb-2">
            {% for field in form.visible_fields %}
                <label for="{{ id_username }}" class="text-[#D9D9D9] mb-2">{{ field.label }}</label>
                {{ field }}
            {% endfor %}
            </div>
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4">{{ button_title }}</button>
    </form>
</div>
