{% extends 'base.html' %}

{% block 'extratitle' %}Sign in{% endblock 'extratitle' %}

{% block 'body' %}

{% include 'partials/_alerts.html' %}

<form action="{% url 'signin' %}" method="POST">
    {% csrf_token %}

    <div class="flex flex-col mb-2">
    {% for field in form.visible_fields %}
        <label for="{{ id_username }}" class="text-[#D9D9D9] mb-2">{{ field.label }}</label>
        {{ field }}
    {% endfor %}
    </div>

    <div class="w-full text-center">
        <button class="button-primary" type="submit">Login</button>
    </div>
</form>

{% endblock 'body' %}