{% load static %}
{% load static tailwind_tags %}

<!doctype html>
<html lang="en">
  
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% tailwind_css %}
    <title>{% block 'title' %}Alura Space | {% endblock %}{% block 'extratitle' %}{% endblock %}</title>
    {% block favicon %}
    <link rel="shortcut icon" href="{% static 'img/logo.png' %}" type="image/x-icon">
    {% endblock %}
    {% block 'libraries' %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% endblock 'libraries' %}
    {% block 'stylesheet' %}{% endblock 'stylesheet' %}
  </head>

  <body class="background">

    <div class="container mx-auto p-6 min-h-screen">

      {% include 'partials/_header.html' %}

      <main class="principal">
        
        {% if user.is_authenticated %}
          {% include 'partials/_navigation.html' %}
        {% endif %}
          
        <section class="conteudo">

          {% block 'body' %}
          
          {% endblock 'body' %}
          
        </section>
      </main>
      
    </div>
    
    {% include 'partials/_footer.html' %}

    {% block corejs %}
    {% endblock %}

    {% block postloadjs %}
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
    {% endblock %}

  </body>
</html>